Source: universalindentgui
Section: devel
Priority: optional
Maintainer: Thomas Schweitzer <mail@thomas-schweitzer.de>
Build-Depends: debhelper (>= 7), libqt4-dev (>= 4.4), libqscintilla2-dev
Standards-Version: 3.8.0
Uploaders: Marcela Tiznado <mlt@debian.org>
Homepage: http://universalindent.sourceforge.net/

Package: universalindentgui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: astyle, bcpp, csstidy, hindent, indent, tidy, uncrustify (>= 0.50), xmlindent
Description: GUI frontend for nearly any code beautifier
 UniversalIndentGui is a GUI fontend for nearly any code beautifier.
 It allows you to comfortably change each parameter of a beautifier and
 directly see how the source code is affected done by a live preview.
 Many free available code beautifier, formatter and indenter are currently
 supported, like GNU Indent, Uncrustify, Artistic Styler, PHP Stylist,
 Ruby Beautify, HTML Tidy and many other (look at features for complete list).
 Currently not supported indenters can be easyly added by creating a
 configuration file for them.
 
